HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### macOS / OS Specific ###
.DS_Store
Thumbs.db

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code & Eclipse ###
.vscode/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Environment & Secret Configs ###
.env
*.env.local
*.env.production

### Logs & Temp ###
*.log
logs/